body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#title-com{

}

.command-card-body{
    text-align: center;
}

.command-card{
    color: #bcb2e1;
    background-color: #000000;
    height: auto;
    width: 100%;
}

/* Applique un fond violet à l'accordion */
.accordion-button {
    background-color: #bcb2e1; /* Violet */
    color: #000000;
}

.accordion-body {
    background-color: black; /* Fond légèrement plus clair dans le corps de l'accordion */
    color: #bcb2e1;
}

#title-com{
    margin-bottom: 20px;
}

