
.rowclass {
    display: flex;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 20px 20px;
}

.card{
    background-color: rgb(46, 14, 75);
    color: aliceblue;
}

.card-footer{
    background-color: aliceblue;
    color:rgb(46, 14, 75);
    display: flex;
    align-items: flex-start !important;
}