@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #041069, #5934de, #131fa8);
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif;
}

.navbar {
  background-color: #00000074 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.274);
}

.nav-link {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline blueviolet 1.5px;
  color: #5527f5;
  transition: 1s;
}

.active:hover {
  color: #7d5afb;
}

/***************************************************************** HERO SECTION ***********************************************************/
/***************************************************************** HERO SECTION ***********************************************************/
/***************************************************************** HERO SECTION ***********************************************************/

.parallax {
  background: url("img/r2d2.jpg") no-repeat;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.parallax1 {
  background: url("img/r2d2.jpg") no-repeat;
  height: 20vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.lih {
  list-style-type: none;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
}

.text h1 {
  font-family: "Orbitron", sans-serif;
  color: #e3d7f7;
  text-shadow: 0 0 10px #c0bcf8, 0 0 20px #c0bcf8, 0 0 30px #8b7df5,
    0 0 40px #8b7df5;
  font-size: 4rem;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
}

.text h2 {
  color: #a097f7;
  font-size: 2rem;
  margin-left: 20px;
  margin-right: 20px;
}

.text p {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-right: 200px !important;
}

.hero {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: rgba(0, 0, 0, 0.686);
  width: 70%;
  overflow: hidden;
  align-items: center;
}

.btnhero {
  margin-left: 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  background-color: #7773c5;
  border-color: #19208e;
  padding: 10px 100px;
}

.btnhero:hover {
  color: #ffffff;
  background-color: #6d0fb0b0;
  border-color: rgb(255, 255, 255);
}

.glow-on-hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px #8707f7 !important;
}

.glow-on-hover:hover {
  box-shadow: 0 0 20px #1593dc !important;
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .text h1 {
    font-size: 55px;
    margin-left: 20px;
    margin-right: 20px !important;
  }

  .text h2 {
    font-size: 1.3rem;
    margin-left: 20px;
    margin-right: 10px;
  }

  .text p {
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 30px !important;
  }
  .hero {
    width: 100%;
  }
}

/***************************************************************** HERO SECTION ***********************************************************/
/***************************************************************** COMMANDES ***********************************************************/
/***************************************************************** COMMANDES ***********************************************************/

.commandes {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.686) !important;
}

.command-card-body {
  text-align: center;
}

.command-card {
  color: #bcb2e1;
  background-color: #000000;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

/* Applique un fond violet à l'accordion */
.accordion-button {
  background-color: #bcb2e1; /* Violet */
  color: #000000;
}

.accordion-body {
  background-color: black; /* Fond légèrement plus clair dans le corps de l'accordion */
  color: #bcb2e1;
}

#title-com {
  font-family: "Orbitron", sans-serif;
  color: #e3d7f7;
  text-shadow: 0 0 10px #c0bcf8, 0 0 20px #c0bcf8, 0 0 30px #8b7df5,
    0 0 40px #8b7df5;
  text-align: center;
  margin-bottom: 60px;
}

/************************************************************** FOOTERRRR ********************************************************************/
/************************************************************** FOOTERRRR ********************************************************************/

.footer-link {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #7a95fa;
  animation: animate__fadeIn; /* Animation au survol */
}

.footer-icon {
  display: inline-block;
  color: #ddd;
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #7a95fa;
  animation: animate__pulse; /* Durée de l'animation */
}

.mailtel a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s; /* Animation au survol */
}

.mailtel a:hover {
  text-decoration: underline 2px;
  text-decoration-color: #7a95fa;
}

.footerh5 {
  font-size: 25px;
  font-weight: 800;
  color: #ffffff;
}

/************************************************************** FINFOOTERRRR ********************************************************************/
